---
layout: default
---
  <main role="main">
  <div class="row no-gutters"> <!-- /.first row -->
    <div class="col-md-8"> <!-- /.first left column -->
    <div class="blog-main">
      
        {% include inject_carousel.html %}

      {{content}}

    </div><!-- /.blog-main -->



    <aside class="blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">News</h4>
        {% include inject_news.html %}


        <h4><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">... see all News</a></h4>
      </div>

    </aside><!-- /.blog-sidebar -->



    <div class="blog-main">
      
      <h3 class="pt-4 pb-2 mb-2 font-italic border-bottom">
        Latest Blog Posts
      </h3>
      {% include inject_blogs_to_main.html %}

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div><!-- /.blog-main -->


</div><!-- /.first left column -->

    <div class="col-md-4"> <!-- /.first right column -->
          <aside class="blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">Twitter</h4>
        <a class="twitter-timeline" href="https://twitter.com/AIRG_StAndrews?ref_src=twsrc%5Etfw">Tweets by AIRG_StAndrews</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <h4><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">... see all Tweets</a></h4>
      </div>

    </aside><!-- /.twitter-sidebar -->
      </div>
  </div><!-- /. first row -->

</main>
