---
layout: default
---
<div id="gridid" class="col-sm-12">

<div class="row">

<div class="col-sm-12 p-0">
{% for member in site.people %}
{% if member.name == page.name %}

<div class="card py-4 mb-4">
	<div class="row no-gutters">
	    <div class="col-md-4">
	        <img class="card-img rounded-circle rounded-sm mx-auto d-block shadow bg-white" src="{{ site.url }}{{ site.baseurl }}{% if member.photo %}{{ member.photo }}{% else %}/images/people/default.jpg{% endif %}" alt="Card image cap" 
  style="
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 9rem;
  height: 9rem;
  ">
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title">{{ member.name }}</h5>
	        <h6 class="card-subtitle mb-1 text-muted">{{ member.status }}</h6>
    		<h6 class="card-subtitle mb-2 text-muted">{{ member.email }}</h6>
	        <p class="card-text">{{ member.research_interests }}</p>
	      </div>
	    </div>
	  </div>

</div>

{% endif %}
{% endfor %}

{{ content }}
</div>

</div>
</div>
