---
layout: default
---

{{ content }}

<h1> Projects </h1>
{% assign type = "project" %}
{% assign research_area = "CV" %}
{% assign cv_projects = site.projects | where: "research_area", research_area | where: "type", type | first %}
{% if cv_projects.research_area %}
<h2> Computer Vision </h2>
<div class="container-fluid">
	<div class="row"> 
	{% for project in site.projects %}
		{% if project.research_area == "CV" and project.type == "project" %}
			{% include inject_project_card.html %}
		{% endif %}
	{% endfor %}
	</div>
</div>
{% endif %}


<h2> Bioinformatics </h2>
<div class="container-fluid">
	<div class="row"> 
	{% for project in site.projects %}
		{% if project.research_area == "BI" and project.type == "project"%}
			{% include inject_project_card.html %}
		{% endif %}
	{% endfor %}
	</div>
</div>

<h2> Machine Learning </h2>
<div class="container-fluid">
	<div class="row"> 
	{% for project in site.projects %}
		{% if project.research_area == "ML" and project.type == "project"%}
			{% include inject_project_card.html %}
		{% endif %}
	{% endfor %}
	</div>
</div>

<h2> Network </h2>
<div class="container-fluid">
	<div class="row"> 
	{% for project in site.projects %}
		{% if project.research_area == "NT" and project.type == "project"%}
			{% include inject_project_card.html %}
		{% endif %}
	{% endfor %}
	</div>
</div>


<h1> Research </h1>

<h2> Computer Vision </h2>
<div class="container-fluid">
	<div class="row"> 
	{% for project in site.projects %}
		{% if project.research_area == "CV" and project.type == "research" %}
			{% include inject_project_card.html %}
		{% endif %}
	{% endfor %}
	</div>
</div>
<h2> Bioinformatics </h2>
<div class="container-fluid">
	<div class="row"> 
	{% for project in site.projects %}
		{% if project.research_area == "BI" and project.type == "research"%}
			{% include inject_project_card.html %}
		{% endif %}
	{% endfor %}
	</div>
</div>

<h2> Machine Learning </h2>
<div class="container-fluid">
	<div class="row"> 
	{% for project in site.projects %}
		{% if project.research_area == "ML" and project.type == "research"%}
			{% include inject_project_card.html %}
		{% endif %}
	{% endfor %}
	</div>
</div>

<h2> Network </h2>
<div class="container-fluid">
	<div class="row"> 
	{% for project in site.projects %}
		{% if project.research_area == "NT" and project.type == "research"%}
			{% include inject_project_card.html %}
		{% endif %}
	{% endfor %}
	</div>
</div>
