---
layout: default
---

{{ content }}

<h1> Projects </h1>
Funded projects are listes below:
{% assign type = "project" %}

{% for category in site.data.research_categories.research_areas %}
	{% assign projects_in_category = site.projects | where: "research_area", category.abbr | where: "type", type %}
	{% assign first_project_in_category = projects_in_category | first %}
	{% if first_project_in_category.research_area %}
	<h2> {{ category.full_name }}</h2>
	<div class="container-fluid">
		<div class="row"> 
		{% for project in projects_in_category %}
			{% include inject_project_card.html %}
		{% endfor %}
		</div>
	</div>
	{% endif %}
{% endfor %}


<h1> Research </h1>
{% assign type = "research" %}

{% for category in site.data.research_categories.research_areas %}
	{% assign projects_in_category = site.projects | where: "research_area", category.abbr | where: "type", type %}
	{% assign first_project_in_category = projects_in_category | first %}
	{% if first_project_in_category.research_area %}
	<h2> {{ category.full_name }}</h2>
	<div class="container-fluid">
		<div class="row"> 
		{% for project in projects_in_category %}
			{% include inject_project_card.html %}
		{% endfor %}
		</div>
	</div>
	{% endif %}
{% endfor %}
